@use '@/assets/mixin' as m;

.right-panel {
  @include m.side-panel;

  overflow: hidden;
  right: var(--spacing-one);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-one);
  }

  &__header h3 {
    @include m.open-sans;
  }

  &__header-icon {
    color: var(--color-basic-neutral-white);
  }

  &__map {
    width: 100%;
    height: 280px;
    margin-bottom: var(--spacing-two-and-half);
  }

  &__body {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--spacing-one);
    overflow: hidden auto;
  }

  &__properties {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-half);

    h4 {
      margin-bottom: var(--spacing-half);
    }
  }

  &__properties {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-one);
  }

  &__properties h4 {
    @include m.open-sans;
  }
}
