.proposal-block {
  &__item-button {
    display: flex;
    align-items: center;
    gap: var(--spacing-half);
  }

  &__checkbox {
    flex: 1;
    width: 100% !important; // override material-ui width
    height: 100% !important; // override material-ui height
    margin-right: 0 !important; // override material-ui margin
  }
}
